@import "../../theme/theme.scss";

.navbar {
  margin-bottom: 1.5em;
}
.navbar-brand {
  border: 2px solid $white;
  display: block;
  padding: 2px 10px;
  height: 37px;
  width: 37px;
  span {
    color: white;
  }
}
